body {
    background: #00589F;
    color: white;
    font-size: 16px;
}

.contact-group {
    margin-bottom: 5px; 
}

input[type="submit"], button[type="submit"]{
    -webkit-appearance:none;
    -webkit-border-radius:0;    
}

.absCenter {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.absCenter.is-Responsive {
    width: 95%;
    height: 60%;
    min-width: 200px;
    max-width: 400px;
}

#logo-container img {
    margin: auto;
    display: block;
    padding-bottom: 1em;
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    max-height: 100%;
}

.checkbox {
    font-size: 0.85em;
}

.footer {
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    font-weight: 300;
}

.support{
    text-align: center;
    font-size: 0.75em;
    font-weight: 300;
}

a,a:active,a:visited,a:hover {
    text-decoration: none;
}

a,a:active,a:visited {
    color: white;
    border-bottom: 1px dotted #62c0ff;
}

a:hover,a:focus {
    color: #62c0ff;
}

.btn {
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    padding: 0.1em;
}

.btn:hover {
    background: #333;
    color: #fff;
}

.modal-header{
    background: #000;
    color: #fff;
}

.modal-body{
    color: #000;
    overflow-y: auto;
    height: 200px;
}

.close{
    color: #fff;
    opacity: 0.5;
}

.navbar-default {
    background: #00589F;
}

.navbar-brand{
     padding: 25px;
     margin-left: 10px; 
}

@media screen and (min-width:768px){
.navbar-brand { width:220px; height:29px; background:url(images/naic_header_logo_220x29.png) no-repeat left center;}
}

@media screen and (max-width: 767px){
.navbar-brand { width:220px; height:29px; background:url(images/naic_header_logo_220x29.png) no-repeat left center; }
}

@media screen and (max-width: 480px){
.navbar-brand { width:80px; height:29px; background:url(images/naic_header_logo_80x29.png) no-repeat left center; }
}