/*!
 *
 *	SOLAR Styling
 * 	Initially created by Coty Beasley @beacrea
 *	Email: cdbeasley@naic.org
 * 
 * -------------------------------------------
 * 
 *  TABLE OF CONTENTS
 *
 * -------------------------------------------
 *
 *	$_VARIABLES
 *		- Colors
 *    - Fonts
 *    - Math
 *
 *  $_MIXINS
 *    - Px -> EM Conversion
 *
 *	$_GlOBAL STYLES
 *    - Body
 *    - Typography
 *    - Content-Bounding
 *    - Navigation
 *    - Buttons
 *    - Footer
 *
 *	$_TYPOGRAPHY
 *		- Defaults
 *
 *  $_FORMS
 *    - Defaults
 *
 *  $JUMBOTRON
 *    - Main Styles
 *
 *  $CONTENT COMPONENTS
 *    - News Ticker
 *
 *  $_APPLICATION MAIN
 *    - Baseline
 *
 *  $PAGE SPECIFIC
 *    - Landing Page
 *  
 *  $_HELPERS / PLUGINS
 *    - Modals
 *
 */
/*
 * -------------------------------------------
 *	$_VARIABLES
 *  
 *  These are global SASS variables used
 *  throughout the entire stylesheet.
 * -------------------------------------------
 */
/*
 * -------------------------------------------
 *  $_MIXINS
 *  
 *  These are essentially SASS formulas.
 * -------------------------------------------
 */
/*
 * -------------------------------------------
 *	$_GLOBAL STYLES
 *  
 *  Repeatable styles for the whole site.
 * -------------------------------------------
 */
body {
  font: 16px Arial, Helvetica, sans-serif;
  color: #646464;
  font-weight: 300;
  background: #f0f0f0; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, sans-serif !important; }

.sheet-site {
  min-width: 19.875em;
  margin-bottom: 2em; }

.nav-wrapper {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd; }

@media (max-width: 50em) {
  .nav-wrapper {
    background: rgba(255, 255, 255, 0.95); } }
.navbar {
  margin-bottom: 0;
  padding-top: 0.1em;
  border-radius: 0 !important; }
  .navbar button, .navbar .btn {
    background: white; }
  .navbar .glyphicon-user, .navbar .glyphicon-list {
    margin-right: 0.33em; }
  .navbar .navbar-login {
    margin-left: 0.5em; }

.navbar-secondary {
  background: #646464;
  color: white; }

.navbar-nav.navbar-right:last-child, .navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0; }

.navbar-toggle {
  margin-right: 0;
  padding: 6px 12px;
  font-size: 14px;
  background: #fff;
  line-height: 1.428571429;
  border: 1px solid #ccc !important; }

.navbar-default {
  background: transparent;
  border: 0; }

.brand-img {
  height: 3.32em;
  padding: 12px 0; }

.nav-subnav {
  padding: 0.25em 0; }

.nav-close {
  background: #000;
  color: #fff;
  padding: 1em 0;
  display: block; }
  .nav-close:hover {
    text-decoration: none;
    color: #646464;
    margin: 0 auto;
    display: block; }

.nav-l2, .nav-l3, .nav-l4, .nav-close {
  color: white;
  display: none; }

.nav-l2 {
  background: #999; }

.nav-l3 {
  background: #666; }

.nav-l4 {
  background: #333; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background: #0f6496; }

.btn {
  border-radius: 0 !important; }

.footerCap {
  background: #eee;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-top: 6px solid #0f6496; }
  .footerCap .copyright {
    float: left; }
    .footerCap .copyright p {
      margin: 0;
      color: #666;
      font-size: 0.75em; }
      .footerCap .copyright p:first-child {
        margin-bottom: 0.5em; }
  .footerCap .socialLinks {
    float: right;
    text-align: right;
    margin-top: 0.25em; }
    .footerCap .socialLinks a:hover {
      text-decoration: none; }
    .footerCap .socialLinks img {
      width: 2em;
      height: auto;
      margin-left: 0.25em; }
  .footerCap .globalLinks {
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 3em !important;
    padding-top: 0.5em; }
    .footerCap .globalLinks a, .footerCap .globalLinks span {
      margin-right: 0.25em; }
    .footerCap .globalLinks a {
      font-size: 0.9em; }

@media (max-width: 31.25em) {
  .footerCap {
    padding-bottom: 1em; }
    .footerCap .copyright, .footerCap .socialLinks {
      display: block;
      float: none;
      text-align: center;
      margin-top: 1em; }
    .footerCap .socialLinks img {
      margin-left: 0.25em;
      margin-right: 0.25em;
      width: 2.5em;
      height: auto;
      border: none !important; }
    .footerCap .globalLinks {
      margin-top: 0.5em !important;
      padding-top: 0.5em;
      text-align: center; }
      .footerCap .globalLinks a, .footerCap .globalLinks span {
        margin: 0 0.25em; } }
/*
 * -------------------------------------------
 *	$_TYPOGRAPHY
 * -------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif; }

/*
 * -------------------------------------------
 *  $_FORMS
 * -------------------------------------------
 */
.form-control {
  margin-bottom: 0.75em; }

/*
 * -------------------------------------------
 *  $_JUMBOTRON
 * -------------------------------------------
 */
.jumbotron {
  background: url("../img/hero-dft.jpg") center top no-repeat;
  color: #15354a;
  text-shadow: 1px 1px 1px #ddd;
  margin-bottom: 0;
  padding-top: 5em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc; }
  .jumbotron h1 {
    font-weight: 600;
    letter-spacing: 0.1em; }
  .jumbotron .btn {
    clear: both;
    color: #0f6496; }

@media (min-width: 0) {
  .jumbotron {
    text-align: center;
    background: url("../img/hero-xs.jpg") center top no-repeat; } }
@media (min-width: 30em) {
  .jumbotron {
    background: url("../img/hero-sm.jpg") left top no-repeat; } }
@media (min-width: 48em) {
  .jumbotron {
    background: url("../img/hero-tb.jpg") left top no-repeat; } }
@media (min-width: 60em) {
  .jumbotron {
    text-align: left; } }
@media (min-width: 75em) {
  .jumbotron {
    background: url("../img/hero-dk.png") center top no-repeat; } }
/*
 * -------------------------------------------
 *  $_CONTENT COMPONENTS
 *  
 *  Repeatable styles for the whole site.
 * -------------------------------------------
 */
.newsTicker {
  margin-top: 1em;
  line-height: 200%;
  border-left: 0;
  border-right: 0; }
  .newsTicker .news-header, .newsTicker .newsController {
    display: inline-block;
    background: #15354a;
    border: 1px solid #15354a;
    border-left: 0;
    border-right: 0;
    color: #fff; }
  .newsTicker .news-articleWrap {
    border: 1px solid #15354a; }
  .newsTicker .news-header {
    text-align: left;
    font-size: 1em; }
  .newsTicker .row {
    padding: 0 15px; }
  .newsTicker .newsController {
    text-align: center; }
    .newsTicker .newsController button {
      color: #fff;
      background: #15354a;
      border: 0;
      height: auto;
      padding: 0.25em 0.5em; }
      .newsTicker .newsController button:hover {
        background: #ccc; }

@media (max-width: 37.5em) {
  .news-articleWrap a {
    display: block;
    line-height: 120%;
    padding: 0.75em 0; } }
/*
 * -------------------------------------------
 *  $_APPLICATION MAIN
 *  
 *  Styles that are unique to each page.
 * -------------------------------------------
 */
.page-appMain {
  background-color: #15354a; }
  .page-appMain .sheet-site {
    margin-bottom: 0;
    float: right; }
  .page-appMain .nav-wrapper {
    position: relative;
    background-color: white; }
  .page-appMain .sidebar-left {
    width: 200px;
    float: left; }
  .page-appMain .jumbotron {
    padding: 0.25em 0;
    background-position: center; }
    .page-appMain .jumbotron p {
      font-size: 0.75em;
      margin-bottom: 0; }
  .page-appMain .page-content {
    height: 20em;
    background: white; }

/*
 * -------------------------------------------
 *  $_PAGE SPECIFIC
 *  
 *  Styles that are unique to each page.
 * -------------------------------------------
 */
.page-lander .page-content .container {
  margin-bottom: 1.5em; }
.page-lander .qTools-list .row {
  margin-top: 1em; }
.page-lander .qTools-list a {
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 1.5em;
  font-size: 1.2em; }
  .page-lander .qTools-list a span {
    margin-right: 0.5em; }

@media (max-width: 75em) {
  .page-lander .qTools-list a {
    margin-right: 0; } }
@media (max-width: 64em) {
  .page-lander .qTools-list a {
    margin-right: 1em; } }
@media (max-width: 48em) {
  .page-lander h1 {
    text-align: center; }
  .page-lander .qTools-list a {
    text-align: center;
    display: block;
    padding: 0.25em;
    margin-right: 0;
    border: 1px solid #15354a;
    background: #eee; } }
.qTools-miniApp {
  background: url("../img/SBS_Logo-tile-light.png") white center center fixed;
  border-top: 4px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 4em 0; }
  .qTools-miniApp .btn {
    margin: 0 0.5em; }
  .qTools-miniApp .licenseeLookup {
    display: none; }

@media (max-width: 60em) {
  .qTools-miniApp {
    background-size: cover;
    background-position: center;
    background-attachment: scroll; } }
/*
 * -------------------------------------------
 *  $_HELPERS / PLUGINS
 * -------------------------------------------
 */
/* Modal Styles */
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px; }

body.modal-open {
  overflow: hidden; }

.modal {
  overflow-y: auto; }
  .modal .modal-body span {
    display: block; }
  .modal .dataTitle {
    font-weight: bold; }
  .modal p {
    margin-bottom: 1em; }
